<div class="container">
  <h1>Core Team</h1>
  <div class="row">
    <div class="col-md-4">
      <a href="https://facebook.com/chandrasekhar.upadhyay" target="_blank"><img src="assets/team/sekhar.jpg" alt="Chandrasekhar Upadhyay"></a>
      <p>Chandrasekhar Upadhyay</p>
      <p>Convenor</p>
    </div>
    <div class="col-md-4">
      <a href="https://facebook.com/rohan.choudhury.97" target="_blank"><img src="assets/team/rohan.jpg" alt="Rohan Choudhury"></a>
      <p>Rohan Choudhury</p>
      <p>Co Convener &amp; Co Sponsorship Head &amp; Editorial Head</p>
    </div>
    <div class="col-md-4">
      <a href="https://facebook.com/souradipta.ojha" target="_blank"><img src="assets/team/souradipta.jpg" alt="Souradipta Ojha"></a>
      <p>Souradipta Ojha</p>
      <p>Co Convener &amp; Co Signing Authority</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="https://facebook.com/ritaban.chakrabotri" target="_blank"><img src="assets/team/ritaban.jpg" alt="Ritaban Chakrabarti"></a>
      <p>Ritaban Chakrabarti</p>
      <p>Sponsorship Head</p>
    </div>
    <div class="col-md-4">
      <a href="https://facebook.com/siddharth.verma.9421" target="_blank"><img src="assets/team/siddharth.jpg" alt="Siddharth Verma"></a>
      <p>Siddharth Verma</p>
      <p>Admin Head</p>
    </div>
    <div class="col-md-4">
      <a href="https://facebook.com/rounak.ghosh.5688" target="_blank"><img src="assets/team/rounak.jpeg" alt="Rounak Ghosh"></a>
      <p>Rounak Ghosh</p>
      <p>Signing Authority & Resource Head</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="https://facebook.com/shatavisha.biswas.5" target="_blank"><img src="assets/team/shatavisha.jpeg" alt="Shatavisha Biswas"></a>
      <p>Shatavisha Biswas</p>
      <p>Member Management Head</p>
    </div>
    <div class="col-md-4">
      <a href="https://facebook.com/urmimala.sen.5" target="_blank"><img src="assets/team/urmimala.jpg" alt="Urmimala Sen"></a>
      <p>Urmimala Sen</p>
      <p>Outreach</p>
    </div>
    <div class="col-md-4">
      <a href="https://facebook.com/engineeredRaichu" target="_blank"><img src="assets/team/ankur.jpeg" alt="Ankur Rai"></a>
      <p>Ankur Rai</p>
      <p>Media Strategist</p>
    </div>
  </div>
  <h1>Designs</h1>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <a href="#"><img src="assets/team/edge-design.jpeg" alt="Edge Designs"></a>
      <p>Edge Designs</p>
    </div>
    <div class="col-md-4"></div>
  </div>
  <h1>Webmaster</h1>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <a href="https://facebook.com/m.suyash" target="_blank"><img src="assets/team/suyash.jpeg" alt="Suyash Mittal"></a>
      <p>Suyash Mittal</p>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>