<div class="container">
  <h1>Sponsors</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/tcs-logo.png" alt="TCS"></div>
      <h2>Associate Title Sponsor</h2>
    </div>
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/bb-logo.jpg" alt="BigBazar"></div>
      <h2>Associate Title Sponsor</h2>
    </div>
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/adobe-logo.png" alt="Adobe"></div>
      <h2>Digital Partner</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/lp-logo.png" alt="Lokenath Printers"></div>
      <h2>Priting Partner</h2>
    </div>
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/oracle-logo.jpg" alt="Oracle"></div>
      <h2>Major Sponsor</h2>
    </div>
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/khushiyan-logo.png" alt="Khushiyan Event"></div>
      <h2>Event Partner</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/fern-logo.jpg" alt="Fern Residency"></div>
      <h2>Hospitality Partner</h2>
    </div>
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/enkon-logo.png" alt="Enkon"></div>
      <h2>Outdoor Partner</h2>
    </div>
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/berger-logo.jpg" alt="Berger"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/pnb-logo.png" alt="PNB"></div>
    </div>
    <div class="col-md-4">
      <div class="sponsor"><img src="assets/sponsors/friends-fm-logo.PNG" alt="91.9 Friends FM"></div>
      <h2>Radio Partner</h2>
    </div>
  </div>
</div>